.timeline {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timeline h1 {
    margin: 0;
    color: #d4b059;
    font-weight: bolder;
    font-size: 2.5rem;
    margin-bottom: 6rem;
}


/* Media queries for heading responsiveness */
@media (max-width: 1350px) {
    .timeline h1 {
        font-size: 2.2rem;
    }
}

@media (max-width: 1024px) {
    .timeline h1 {
        font-size: 2rem;
        margin-bottom: 4rem;
    }
}

@media (max-width: 768px) {
    .timeline h1 {
        font-size: 1.8rem;
        margin-bottom: 3rem; 
    }
}

@media (max-width: 640px) {
    .timeline h1 {
        font-size: 1.6rem;
        margin-bottom: 2rem;
    }
}


.timeline-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}

.education {
    display: flex;
    gap: 1rem;
}

.education-left {
    border-left: 2px solid #d4b059;
}

.experience {
    display: flex;
    gap: 1rem;
}

.experience-left {
    border-left: 2px solid #d4b059;
}


/* Media queries for responsiveness */
@media (max-width: 1024px) {
    .timeline-body {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

@media (max-width: 640px) {
    .timeline-body {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
}