.skill {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: .4rem;
  padding: 1rem;
  box-shadow: 0 4px 20px #06080b;
}

.skill img {
  width: 12%; /* Default image width */
}

.skill:hover {
  background: linear-gradient(to right, #c59e41, #b99338);
}

.skill-content {
  color: #d4b059;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: larger; /* Default font size */
}

.skill:hover .skill-content {
  color: #ffffff;
}

/* Media queries for responsiveness */
@media (max-width: 1024px) {
  .skill img {
      width: 10%; /* Increase image size for medium screens */
  }

  .skill-content {
      font-size: 1.25rem; /* Adjust font size for medium screens */
  }
}

@media (max-width: 640px) {
  .skill img {
      width: 10%; /* Increase image size for small screens */
  }

  .skill-content {
      font-size: 1rem; /* Adjust font size for small screens */
      text-align: center; /* Center text for small screens */
  }
}
