.skill {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: .4rem;
  padding: 1rem;
  box-shadow: 0 4px 20px #06080b;
}

.skill img {
  width: 12%; 
}

.skill:hover {
  background: linear-gradient(to right, #c59e41, #b99338);
}

.skill-content {
  color: #d4b059;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: larger; 
}

.skill:hover .skill-content {
  color: #ffffff;
}

/* Media queries for responsiveness */
@media (max-width: 1024px) {
  .skill img {
      width: 10%; 
  }

  .skill-content {
      font-size: 1rem; 
  }
}

@media (max-width: 640px) {
  .skill img {
      width: 18%; 
  }

  .skill-content {
      font-size: 1rem; 
      text-align: start; 
  }
}


@media (max-width: 480px) {
  .skill-content {
    font-size: .7rem; 
}
}