@keyframes typing {
  from { width: 0; }
  to { width: 16ch; }
}

@keyframes blink {
  50% { border-color: transparent; }
}

.home-page {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  font-family: Arial, sans-serif;
  margin: 0;
  padding-left: 15% !important;
  padding-right: 15% !important;
}

.scroll-to-top {
  position: fixed;
  bottom: 2%;
  right: 1.5%;
  background-color: #ffd46e;
  color: #0D1117;
  padding: .325rem;
  padding-inline: .875rem;
  border-radius: 10%;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s, visibility 0.3s;
  opacity: 0.6;
  z-index: 1000;
}

.scroll-to-top:hover {
  opacity: 1;
}

/* Media queries for responsive padding */
@media (max-width: 1024px) {
  .home-page {
    padding-left: 10% !important;
    padding-right: 10% !important;
  }
}

@media (max-width: 768px) {
  .home-page {
    padding-left: 8% !important;
    padding-right: 8% !important;
  }

  .scroll-to-top {
    bottom: 15px;
    right: 15px;
    width: 35px;
    height: 35px;
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .home-page {
    padding-left: 6% !important;
    padding-right: 6% !important;
  }
}
