.testimonial {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-block: 4rem;
}

.testimonial h1 {
    margin: 0;
    color: #d4b059;
    font-weight: bolder;
    font-size: 2.5rem;
    margin-bottom: 8rem;
}


/* Media queries for heading responsiveness */
@media (max-width: 1350px) {
    .testimonial h1 {
        font-size: 2.2rem;
        margin-bottom: 6rem;
    }
    .testimonial {
        margin-block: 4rem;
    }
}

@media (max-width: 1024px) {
    .testimonial h1 {
        font-size: 2rem; 
        margin-bottom: 4rem;
    }
    .testimonial {
        margin-block: 2rem;
    }
}

@media (max-width: 768px) {
    .testimonial h1 {
        font-size: 1.8rem; 
        margin-bottom: 2rem;
    }
    .testimonial {
        margin-block: 1.5rem;
    }
}

@media (max-width: 640px) {
    .testimonial h1 {
        font-size: 1.6rem; 
        margin-bottom: 2rem;
    }
    .testimonial {
        margin-block: 1.5rem;
    }
}


.swiper {
    width: 100%;
    height: 25rem;
}

.swiper-slide {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    justify-content: center;
    align-items: center; 
    padding-bottom: 2rem;
}


.swiper-pagination-bullet {
    background-color: #d4b059 !important;
    width: 0.6rem !important;
    height: 0.5rem !important;
}
.swiper-pagination-bullet-active {
    background-color: #d4b059 !important;
    width: 2rem !important;
    border-radius: 15% !important;
    height: 0.4rem !important;
}


